n8n-workflows/1-shiplog-ai-writer.json
{
  "name": "Super Dent X \u2014 AI Writer (alive mode)",
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook /shiplog-ai",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "shiplog-ai",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "code1",
      "name": "Build Claude prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nconst task = b.task ?? 'generate';\nconst evLine = e => `- ${e.date ?? ''} [${e.category}] ${e.title}${e.detail ? ` \u2014 ${String(e.detail).slice(0,240)}` : ''}`;\nconst logLine = l => `${l.date}: built ${l.built ?? '-'}; learned ${l.learned ?? '-'}${l.blocked ? `; blocked by ${l.blocked}` : ''}${l.energy ? `; energy ${l.energy}/5` : ''}`;\nlet system = `You are Super Dent X AI, a build-in-public writer for founders. Sound like a real founder, never like AI. No 'exciting news' openers. Be specific \u2014 quote their real event details, amounts and numbers. Revenue/customer/milestone events are the headline: if an amount or payout appears in the details, celebrate it with the exact figure. Tweets max 280 chars or thread format. LinkedIn 800-1200 chars.`;\nlet user = '';\nif (task === 'chat') {\n  system = `You are the Super Dent X Co-pilot for a founder building ${b.projectName}. You have their full shipping log including event details, blockers and energy levels. Be a real companion: specific, warm, brief (2-4 sentences), reference actual events by name, date and detail \u2014 especially money: first payouts and big payments deserve real celebration with the exact amount. Motivate with receipts, never generic hype. If asked for a briefing, open proactively with today + this week + the single best next move.`;\n  user = `Streak: ${b.streak} days.\\nRecent events:\\n${(b.events??[]).map(evLine).join('\\n')}\\n\\nReflections:\\n${(b.dailyLogs??[]).map(logLine).join('\\n')}\\n\\nQuestion: ${b.question}`;\n} else if (task === 'humanize') {\n  user = `Project: ${b.projectName}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nRaw notes from the builder:\\n${b.raw}\\n\\nShape this into a post. Keep their facts and voice. It must read like a human typed it.`;\n} else if (task === 'fuse') {\n  user = `Project: ${b.projectName}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nShips picked from the log:\\n${(b.picked??[]).map(evLine).join('\\n')}\\n\\nTheir current state, raw:\\n${b.state}\\n\\nFuse the logged facts with the human feeling into one post.`;\n} else {\n  user = `Project: ${b.projectName} \u2014 ${b.projectTagline}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nEvents (with details where logged):\\n${(b.events??[]).map(evLine).join('\\n')}\\n\\nReflections:\\n${(b.dailyLogs??[]).map(logLine).join('\\n')}\\n\\nWrite the ${b.platform} post in ${b.tone} voice.`;\n}\nreturn [{ json: { system, user } }];"
      }
    },
    {
      "id": "http1",
      "name": "OpenRouter AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://dent.vercel.app"
            },
            {
              "name": "X-Title",
              "value": "Super Dent X"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-sonnet-4.5', max_tokens: 1024, messages: [{ role: 'system', content: $json.system }, { role: 'user', content: $json.user }] }) }}"
      }
    },
    {
      "id": "resp1",
      "name": "Respond {text}",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.choices[0].message.content }) }}"
      }
    }
  ],
  "connections": {
    "Webhook /shiplog-ai": {
      "main": [
        [
          {
            "node": "Build Claude prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude prompt": {
      "main": [
        [
          {
            "node": "OpenRouter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter AI": {
      "main": [
        [
          {
            "node": "Respond {text}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}