n8n-workflows/1-shiplog-ai-writer.json
{
  "name": "ShipLog — AI Writer (alive mode)",
  "nodes": [
    {
      "id": "wh1",
      "name": "Webhook /shiplog-ai",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "shiplog-ai",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "code1",
      "name": "Build Claude prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "const b = $input.first().json.body ?? $input.first().json;\nconst task = b.task ?? 'generate';\nlet system = `You are ShipLog AI, a build-in-public writer for founders. Sound like a real founder, never like AI. No 'exciting news' openers. Be specific, use their real event data, include numbers. Tweets max 280 chars or thread format. LinkedIn 800-1200 chars.`;\nlet user = '';\nif (task === 'chat') {\n  system = `You are the ShipLog Co-pilot for a founder building ${b.projectName}. You have their full shipping log. Be a real companion: specific, warm, brief (2-4 sentences), reference actual events by name and date. Motivate with receipts, never generic hype.`;\n  user = `Streak: ${b.streak} days.\\nRecent events:\\n${(b.events??[]).map(e=>`- ${e.date} [${e.category}] ${e.title}`).join('\\n')}\\n\\nReflections:\\n${(b.dailyLogs??[]).map(l=>`${l.date}: built ${l.built}; learned ${l.learned}`).join('\\n')}\\n\\nQuestion: ${b.question}`;\n} else if (task === 'humanize') {\n  user = `Project: ${b.projectName}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nRaw notes from the builder:\\n${b.raw}\\n\\nShape this into a post. Keep their facts and voice. It must read like a human typed it.`;\n} else if (task === 'fuse') {\n  user = `Project: ${b.projectName}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nShips picked from the log:\\n${(b.picked??[]).map(e=>`- [${e.category}] ${e.title} (${e.date})`).join('\\n')}\\n\\nTheir current state, raw:\\n${b.state}\\n\\nFuse the logged facts with the human feeling into one post.`;\n} else {\n  user = `Project: ${b.projectName} — ${b.projectTagline}\\nPlatform: ${b.platform}\\nVoice: ${b.tone}\\n\\nEvents:\\n${(b.events??[]).map(e=>`- [${e.category}] ${e.title} (${e.date})`).join('\\n')}\\n\\nReflections:\\n${(b.dailyLogs??[]).map(l=>`${l.date}: built ${l.built}; learned ${l.learned}`).join('\\n')}\\n\\nWrite the ${b.platform} post in ${b.tone} voice.`;\n}\nreturn [{ json: { system, user } }];"
      }
    },
    {
      "id": "http1",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, system: $json.system, messages: [{ role: 'user', content: $json.user }] }) }}"
      }
    },
    {
      "id": "resp1",
      "name": "Respond {text}",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.content[0].text }) }}"
      }
    }
  ],
  "connections": {
    "Webhook /shiplog-ai": { "main": [[{ "node": "Build Claude prompt", "type": "main", "index": 0 }]] },
    "Build Claude prompt": { "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]] },
    "Claude API": { "main": [[{ "node": "Respond {text}", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
