n8n-workflows/1-shiplog-ai-writer.json
{
  "name": "1 \u2014 Super Dent X AI writer (Supabase-fed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shiplog-ai",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "25867df4-fdf7-4562-b7f0-5dd61163551c",
      "name": "Webhook /shiplog-ai",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1056,
        464
      ],
      "webhookId": "shiplog-ai"
    },
    {
      "parameters": {
        "jsCode": "// Normalise the request and work out how far back to read.\n// The app posts { task, userId, platform, tone, projectName, events, dailyLogs, ... }.\n// events/dailyLogs stay as the FALLBACK for signed-out demo users \u2014 when a\n// userId is present the Supabase rows below win, because localStorage on one\n// browser is not the source of truth.\nconst b = $input.first().json.body ?? $input.first().json;\nconst task = b.task ?? 'generate';\n\n// 'auto' = infer from what's being written. A tweet is about what just\n// shipped; a newsletter or changelog is a week's arc. Chat/co-pilot always\n// wants the wider window so it can reference the whole run.\nlet range = b.range ?? 'auto';\nif (range === 'auto') {\n  if (task === 'chat') range = 'month';\n  else if (['newsletter', 'changelog', 'blog'].includes(b.platform)) range = 'week';\n  else range = 'today';\n}\nconst days = { today: 1, week: 7, month: 30 }[range] ?? 7;\nconst since = new Date(Date.now() - days * 864e5).toISOString().slice(0, 10);\n\n// Chat is the expensive task: it fires on EVERY co-pilot message, while a\n// write fires once per post. A companion answering \"how am I doing?\" does\n// not need 60 ships at full detail \u2014 it needs the recent shape of the week.\n// Writes keep the wide window because a recap genuinely spans it.\nconst shipLimit  = task === 'chat' ? 20 : 60;\nconst logLimit   = task === 'chat' ? 7  : 30;\nconst detailLen  = task === 'chat' ? 90 : 240;\n\nreturn [{ json: {\n  ...b,\n  shipLimit, logLimit, detailLen,\n  task,\n  range,\n  since,\n  userId: b.userId ?? null,\n  hasUser: !!b.userId,\n  // Supabase filters can't take null \u2014 send a uuid that matches nothing so the\n  // node returns zero rows instead of erroring for signed-out users.\n  userFilter: b.userId ?? '00000000-0000-0000-0000-000000000000'\n} }];"
      },
      "id": "e31da92a-978c-4d99-86a9-121f7c07af1a",
      "name": "Resolve window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        464
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ship_events",
        "limit": "={{ $json.shipLimit }}",
        "orderBy": "created_at.desc",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.userFilter }}"
            },
            {
              "keyName": "event_date",
              "condition": "gte",
              "keyValue": "={{ $json.since }}"
            }
          ]
        }
      },
      "id": "526308e3-111b-4923-959e-48d11e6b02bb",
      "name": "Fetch ships",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -624,
        464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NsVeyvnicELnGo7Y",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "daily_logs",
        "limit": "={{ $('Resolve window').first().json.logLimit }}",
        "orderBy": "created_at.desc",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Resolve window').first().json.userFilter }}"
            },
            {
              "keyName": "log_date",
              "condition": "gte",
              "keyValue": "={{ $('Resolve window').first().json.since }}"
            }
          ]
        }
      },
      "id": "591a8c6f-f205-4ff8-a3e5-0bcf80381846",
      "name": "Fetch daily logs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        464
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "NsVeyvnicELnGo7Y",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// n8n Code node: \"Build prompt\"\n// Paste this whole file into the node. Runs with executeOnce = true.\n//\n// Does three jobs:\n//   1. Collapses the Supabase fetches back into ONE item (Get Many emits one\n//      item PER ROW \u2014 without this you fire one AI call per ship).\n//   2. Hard-stops when there is nothing to write about, so the model is never\n//      asked to fill a void. It WILL invent a plausible week if you let it.\n//   3. Builds the voice: tone + platform + the laws that keep it honest.\n// ============================================================\n\nconst b = $('Resolve window').first().json;\nconst task = b.task;\n\nconst rowsOf = (node) => {\n  try { return $(node).all().map(i => i.json).filter(r => r && r.id); }\n  catch { return []; }\n};\n\nconst dbShips = rowsOf('Fetch ships').map(e => ({\n  id: e.id, category: e.category, title: e.title,\n  date: e.event_date, detail: (e.description ?? '').slice(0, b.detailLen ?? 240), repo: e.repo\n}));\nconst dbLogs = rowsOf('Fetch daily logs').map(l => ({\n  date: l.log_date, built: l.what_i_built, learned: l.what_i_learned,\n  blocked: l.what_blocked_me, mood: l.mood, energy: l.energy_level\n}));\n\n// Supabase wins when it has rows; the posted body is the signed-out fallback.\nconst events = dbShips.length ? dbShips : (b.events ?? []);\nconst dailyLogs = dbLogs.length ? dbLogs : (b.dailyLogs ?? []);\nconst picked = b.picked ?? [];\nconst sourceEventIds = dbShips.map(e => e.id).filter(Boolean);\n\n// ------------------------------------------------------------\n// 1. HARD STOP \u2014 never ask the model to write about nothing.\n// A brand-new user with zero ships got back \"refactored core onboarding\n// flows, prepping for next week's big feature drop\" \u2014 pure fabrication that\n// would have been saved as a postable draft. Prompt rules do NOT prevent\n// this. Not making the call does.\n// For 'fuse' the subject is the ships the builder hand-picked (they ride in\n// the request body), so check those too, not just the DB window.\n// ------------------------------------------------------------\nconst nothingToWriteAbout = task === 'fuse'\n  ? (picked.length === 0 && events.length === 0)\n  : events.length === 0;\n\nif (nothingToWriteAbout && task !== 'humanize' && task !== 'chat') {\n  return [{ json: {\n    noData: true,\n    text: 'Nothing logged in this window yet. Log a ship and I will write it up \u2014 I only write from what actually happened.',\n    task, range: b.range, userId: b.userId, hasUser: b.hasUser,\n    platform: b.platform ?? 'twitter', tone: b.tone ?? 'founder',\n    sourceEventIds: [], shipCount: 0, fromDb: false\n  } }];\n}\n\n// ------------------------------------------------------------\n// 2. VOICE \u2014 how this builder speaks. Mirrors TONE_META in src/lib/types.ts.\n// ------------------------------------------------------------\nconst TONES = {\n  founder: `FOUNDER \u2014 confident, casual, first-person. Short declarative sentences. Contractions. Say \"I\", never \"we\" (this is one person building alone; \"we\" reads as fake-corporate). Understated pride: state what shipped and let it land. No adjectives doing work the facts should do.`,\n  technical: `TECHNICAL \u2014 precise, architecture-first. Lead with the actual mechanism: the table, the query, the race condition, the tradeoff. Name real tools and real constraints. Assume the reader is a builder who wants the how. Skip the emotional framing entirely.`,\n  storytelling: `STORYTELLER \u2014 one narrative arc, start to finish: the problem showed up, it resisted, here's the turn, here's where it landed. ONE arc per post, never a list of arcs. The struggle is the middle, not a footnote. Concrete beats abstract every time.`,\n  hype: `HYPE \u2014 launch-day energy. Short punchy lines, line breaks for rhythm, genuine excitement. But excitement about REAL things only: hype the actual ship, never inflate it into something bigger than it was. No \"game-changing\", no \"revolutionary\".`,\n  mentor: `MENTOR \u2014 calm, lessons-first, generous. Open with the transferable lesson, then show the specific ship that taught it. Written for someone a few steps behind. No condescension, no \"pro tip\". The lesson must be earned by the data, not bolted on.`,\n  unfiltered: `UNFILTERED \u2014 raw, honest, 2am-commit energy. Admit the mess: what broke, what took too long, what you got wrong. Blunt and human. No profanity, but no polish either. This is the tone where a bad week can be said plainly.`,\n};\n\n// ------------------------------------------------------------\n// 3. SHAPE \u2014 what this platform expects.\n// ------------------------------------------------------------\nconst PLATFORMS = {\n  twitter: `X/TWITTER \u2014 either ONE post under 280 characters, or a numbered thread (1/ 2/ 3/) when there is genuinely more than one thing worth saying. Line breaks between beats. At most one hashtag, usually zero. No \"a thread \ud83e\uddf5\" preamble unless it IS a thread.`,\n  linkedin: `LINKEDIN \u2014 800-1200 characters. First line is the hook and must stand alone (it's all most people see before \"see more\"). Short paragraphs, one idea each, blank line between. Professional but not stiff.`,\n  newsletter: `NEWSLETTER \u2014 room to breathe. Open with a subject line on its own first line, then the body in 2-4 short sections. Conversational, direct address to the reader.`,\n  changelog: `CHANGELOG \u2014 plain and factual. Bulleted. What changed, why it matters, in that order. No narrative, no emotion, no first person. This is documentation, not a post.`,\n  blog: `BLOG \u2014 long form with section headers. Set context, walk through the work, close with what's next. Concrete examples over general claims.`,\n  threads: `THREADS \u2014 conversational and loose, under 500 characters per post. Reads like talking to a friend who also builds.`,\n  devto: `DEV.TO \u2014 technical write-up in markdown. Headers, and code fences where code is genuinely the point. Written for developers who might hit the same problem.`,\n  producthunt: `PRODUCT HUNT \u2014 launch pitch. Lead with the benefit to the user, not the feature list. Who it's for, what it removes from their day. Warm, not salesy.`,\n  resume: `RESUME \u2014 past-tense achievement bullets. Quantified where the data supports a number. No first-person pronouns, no story, no filler verbs.`,\n};\n\nconst tone = b.tone ?? 'founder';\nconst platform = b.platform ?? 'twitter';\nconst toneRule = TONES[tone] ?? TONES.founder;\nconst platformRule = PLATFORMS[platform] ?? PLATFORMS.twitter;\n\n// ------------------------------------------------------------\n// 4. LAWS \u2014 non-negotiable across every tone and platform.\n// ------------------------------------------------------------\nconst LAWS = `NON-NEGOTIABLE RULES:\n1. ONLY what is in the data. Never invent a metric, user count, revenue figure, milestone, feature or plan. If it isn't in the ships or logs below, it does not exist. An empty week is written as an empty week.\n2. Quote their real specifics \u2014 actual titles, actual numbers, actual repo names, actual amounts. Specifics are the whole point; generic praise is worthless.\n3. Money is the headline. Revenue, customer and milestone events outrank everything else. If an amount appears, name the exact figure.\n4. Connect related ships. A commit and a deploy hours apart is ONE arc \u2014 \"wrote it, shipped it, it's live\" \u2014 not two bullets. Look for the through-line before you write.\n5. No AI tells. Banned openers: \"Excited to announce\", \"Thrilled to share\", \"Big news\". Banned words: leverage, seamless, robust, game-changing, revolutionary, delve, elevate. No em-dash pileups. No emoji unless the tone calls for it.\n6. Say less when there is less. A short honest post beats a padded one. Never stretch three ships into a week's worth of narrative.\n7. Write as the builder, in their voice \u2014 not as an assistant describing them from outside.\n8. NEVER CONSTRUCT A URL. Use a link only if it appears verbatim in the data below. Do not guess repo paths, commit links, domains or profile URLs \u2014 a plausible-looking link that 404s is worse than no link. Commit hashes may be quoted as bare text, never wrapped in a URL you invented.\n9. THE PLATFORM FORMAT OUTRANKS THE TONE. If the platform says no first person, no story, or no emotion, that wins over anything the tone asks for. Tone colours the words; format decides the shape.\n10. RETURN THE POST ITSELF \u2014 nothing around it. No \"Here is your post:\", no title you invented, and never wrap the whole output in a code fence. It is pasted straight into the platform, so a stray ``` renders as a literal code block.\n11. WRITE IT ONCE. Produce exactly one piece in one format. Never follow a bulleted version with a prose version of the same content, and never restate the post in another voice underneath it.`;\n\n// The daily log is CONTEXT, not the subject.\nconst LOG_RULE = `THE LOG IS BACKGROUND, NOT THE SUBJECT. Ships are what gets written about. The daily log supplies the WHY \u2014 the blocker they pushed through, what they learned, what it cost them. Weave it in ONLY where it makes a ship land harder. If it adds nothing, ignore it completely. Never write a post that is just a mood report.`;\n\nconst evLine = e => `- ${e.date ?? ''} [${e.category}] ${e.title}${e.detail ? ` \u2014 ${e.detail}` : ''}${e.repo ? ` (${e.repo})` : ''}`;\nconst logLine = l => `${l.date}: built ${l.built ?? '-'}; learned ${l.learned ?? '-'}${l.blocked ? `; blocked by ${l.blocked}` : ''}${l.energy ? `; energy ${l.energy}/5` : ''}`;\n\n// ------------------------------------------------------------\n// 5. BUILD per task.\n// ------------------------------------------------------------\nlet system, user;\n\nif (task === 'chat') {\n  system = `You are the Super Dent X Co-pilot for a founder building ${b.projectName ?? 'their project'}. You have their real shipping log \u2014 events, blockers, energy levels.\n\nBe a real companion: specific, warm, brief (2-4 sentences). Reference actual ships by name and date. Money \u2014 a first payout, a big payment \u2014 deserves genuine celebration with the exact amount. Motivate with receipts, never generic hype. If they ask for a briefing, open with today, then this week, then the single best next move.\n\n${LAWS}`;\n  user = `Streak: ${b.streak ?? 0} days.\\n\\nShips (${b.range}):\\n${events.map(evLine).join('\\n') || '(none yet)'}\\n\\nDaily logs:\\n${dailyLogs.map(logLine).join('\\n') || '(none yet)'}\\n\\nQuestion: ${b.question ?? 'How am I doing?'}`;\n\n} else if (task === 'fuse') {\n  system = `You are the Super Dent X writer. The builder hand-picked these ships and wants them fused into ONE post.\n\n${platformRule}\n\n${toneRule}\n\nThey have started writing it themselves. RESPECT THEIR WORDS \u2014 keep their opening, their angle, their phrasing wherever it works. Extend and sharpen what they began; do not replace their voice with yours. If their draft sets a direction, follow it.\n\n${LOG_RULE}\n\n${LAWS}`;\n  user = `Project: ${b.projectName}\\n\\nTheir draft so far:\\n${b.state || '(empty \u2014 they picked ships but have not started writing)'}\\n\\nShips they picked:\\n${(picked.length ? picked : events).map(evLine).join('\\n')}\\n\\nContext from their logs:\\n${dailyLogs.map(logLine).join('\\n') || '(none)'}`;\n\n} else if (task === 'humanize') {\n  system = `You are the Super Dent X editor. Rewrite the draft so it reads like a real person wrote it fast and meant it.\n\nKEEP EVERY FACT AND NUMBER EXACTLY AS GIVEN. You are changing how it sounds, not what it says. Do not add claims that aren't already in the draft.\n\n${platformRule}\n\n${toneRule}\n\n${LAWS}`;\n  user = `Project: ${b.projectName}\\n\\nDraft to rewrite:\\n${b.raw ?? ''}`;\n\n} else {\n  system = `You are the Super Dent X writer, ghost-writing for a founder who builds in public. Write the post they would write if they had the time.\n\n${platformRule}\n\n${toneRule}\n\n${LOG_RULE}\n\n${LAWS}\n\nWindow: ${b.range}. ${b.range === 'week' || b.range === 'month' ? 'This is a recap \u2014 pick the 3-5 ships that actually matter and build around those. Do not list everything; a complete inventory is not a post.' : 'This is about what just shipped. Stay tight.'}`;\n  user = `Project: ${b.projectName}${b.projectTagline ? ` \u2014 ${b.projectTagline}` : ''}\\n\\nShips (${b.range}):\\n${events.map(evLine).join('\\n') || '(none)'}\\n\\nDaily logs (context only):\\n${dailyLogs.map(logLine).join('\\n') || '(none)'}${b.analysis ? `\\n\\nPre-computed analysis \u2014 trust these numbers over your own counting:\\n${JSON.stringify(b.analysis)}` : ''}`;\n}\n\nreturn [{ json: {\n  system, user,\n  noData: false,\n  task, range: b.range,\n  userId: b.userId, hasUser: b.hasUser,\n  platform, tone,\n  sourceEventIds,\n  shipCount: events.length,\n  fromDb: dbShips.length > 0\n} }];\n"
      },
      "id": "46e9e02b-98a1-46fb-a2d3-49c1516901b8",
      "name": "Build prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        464
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst meta = $('Build prompt').first().json;\n\nconst pick = (...vals) => vals.find(v => typeof v === 'string' && v.trim());\n\nconst text = pick(\n  r?.output,                          // AI Agent / Basic LLM Chain\n  r?.choices?.[0]?.message?.content,  // raw OpenRouter over HTTP\n  r?.message?.content,                // Chat Model node\n  r?.content?.[0]?.text,              // Anthropic native\n  r?.text,\n  typeof r === 'string' ? r : null\n);\n\nif (!text) {\n  const why = r?.error?.message || r?.message || JSON.stringify(r).slice(0, 300);\n  throw new Error(`No text in AI response. Saw keys [${Object.keys(r || {}).join(', ')}]: ${why}`);\n}\n\nreturn [{ json: { ...meta, text: text.trim() } }];"
      },
      "id": "d6a490a9-e113-4b29-8806-5d4e4e584827",
      "name": "Parse + guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasUser }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $json.task }}",
              "rightValue": "chat",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8634cf65-1f18-4516-a4f0-97c44144ed52",
      "name": "Signed-in write?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        464
      ]
    },
    {
      "parameters": {
        "tableId": "content_pieces",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.userId }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "tone",
              "fieldValue": "={{ $json.tone }}"
            },
            {
              "fieldId": "body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "draft"
            },
            {
              "fieldId": "author",
              "fieldValue": "={{ $json.task === 'fuse' ? 'fusion' : 'ai' }}"
            },
            {
              "fieldId": "source_event_ids",
              "fieldValue": "={{ $json.sourceEventIds }}"
            },
            {
              "fieldId": "rationale",
              "fieldValue": "={{ $json.range + ' window \u00b7 ' + $json.shipCount + ' ships' }}"
            },
            {
              "fieldId": "draft_date",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "id": "ae2f170f-ba02-42e5-b6bd-924f7aa7d134",
      "name": "Save draft",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "NsVeyvnicELnGo7Y",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ text: $json.noData ? $json.text : $('Parse + guard').first().json.text }) }}",
        "options": {}
      },
      "id": "5c37ceab-d012-4bbc-aa54-2520286eee92",
      "name": "Respond {text}",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user }}",
        "options": {
          "systemMessage": "={{ $json.system }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        464
      ],
      "id": "0a5b6f62-28ad-4d4c-93b6-58b81f111b10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16,
        672
      ],
      "id": "17c9ae02-89af-4e3d-876d-e3051db89fa9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PTezpSvPnHeL9PTT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4afb858-a4aa-42a3-b532-e2eb9c7aab86",
              "leftValue": "={{ $json.noData ? 'stop' : 'go' }}",
              "rightValue": "stop",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        464
      ],
      "id": "85f70766-379e-4a6b-b7f1-4e56f03047ef",
      "name": "Has ships?"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook /shiplog-ai": {
      "main": [
        [
          {
            "node": "Resolve window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve window": {
      "main": [
        [
          {
            "node": "Fetch ships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ships": {
      "main": [
        [
          {
            "node": "Fetch daily logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch daily logs": {
      "main": [
        [
          {
            "node": "Build prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompt": {
      "main": [
        [
          {
            "node": "Has ships?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + guard": {
      "main": [
        [
          {
            "node": "Signed-in write?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signed-in write?": {
      "main": [
        [
          {
            "node": "Save draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond {text}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save draft": {
      "main": [
        [
          {
            "node": "Respond {text}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse + guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Has ships?": {
      "main": [
        [
          {
            "node": "Respond {text}",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5d058aa-261d-4cb1-b216-ccd78cd9fc07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9569160e9e4452ee058cf029a44ce447e3a8fd5b608e31bde05e7578217aaf5"
  },
  "nodeGroups": [],
  "id": "t0G89nHPT1PtHLuN",
  "tags": []
}